</body>
<script src="/plugins/fontawesoe/all.min.js"></script>
<script>
  document.querySelector('.nav-toggle').addEventListener('click',(e)=>{
  e.preventDefault();
  document.getElementsByTagName("html")[0].classList.toggle("openNav");
  document.querySelector(".nav-toggle").classList.toggle("active");
})
</script>
  </html>
