
  <div class="d-flex justify-content-center mt-5">
    <form method="get" action="/">
      <div class="input-group">
        <select name="category" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option value="all" selected>All</option>
          <option value="men's clothing">Men's Clothing</option>
          <option value="women's clothing">Women's Clothing</option>
          <option value="jewelery">Jewelery</option>
          <option value="electronics">Electronics</option>
      </select>
      <button class="btn btn-outline-primary btn-lg" type="submit">Filter</button>
    </div>
  </form>
  </div>


