<% let isAuth = ''; %>
<%- include('components/header.ejs') %>
<%- include('components/nav.ejs') %>

<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-3">
            <img class="imag-fluid rounded-pill w-50 d-block border border-info m-auto" src="/images/badr.jpg" alt="badr">
        </div>
        <div class="col-10 offset-1 offset-md-0 mt-5 col-md-8  mt-lg-0 ">
            <h1 class=" text-primary mb-3">Mohamed Badraldin</h1>
            <p>Web and User Interface Development Trainee</p>
            <span>Egypt / Giza</span>

            <p class="h3 text-primary my-3">Summary</p>
            <ul>
                <li>I am a self-taught web developer.</li>
                <li>I translate the designs into responsive, interactive pages with semantic code.</li>
                <li>I use current front-end technologies such as HTML5, CSS3, JavaScript, Bootstrap, and Angular.</li>
                <li>I use Node.js, Express, MongoDB for the backend.</li>
                <li>I create clean and valid code for readability and reusability.</li>
                <li>I research and apply best-practice web techniques.</li>
                <li>I depend on self-learning to earn my skills.</li>
            </ul>
        
            <p class="h3 text-primary my-3">Experience</p>
            <p>
                <strong>Information Technology Institute (ITI)</strong><br/>
                Web & User Interface Development Trainee
                November 2021 - Present (5 months)
                9-Month professional training program is offered by Information Technology
                Institute. It provides many courses some of them are technical that cover
                a wide range of today's software technologies used in developing web
                applications and interfaces, and managing the continuous integration of
                development and testing throughout the software development lifecycle of the
                projects using agile software development methodologies. On the other side,
                we have encountered some non-technical courses that concern constructing
                the required marketing soft skills such as business communications,
                presentation skills, .. etc.
            </p>
        
            <p class="h3  text-primary my-3">Education</p>
            <p>
                Information Technology Institute (ITI)
                <strong class="d-block">Diploma in System Development, Web and User interface</strong>
                Development · (October 2021)
            </p>
            <p>
                Helwan University Cairo
                Bachelor of Business Administration - BBA, Foreign Trade · (2013 - 2017)
            </p>
            <p class="h3">Contact</p>
            <span class="d-block">6 October</span>
            <span class="d-block">01068118614 (Mobile)</span>
            <span class="d-block">mohamed.badraldin.mohamed@gmail.com</span>
            <a class="h3 my-3 d-inline-block me-4" target="_blank" href="https://www.linkedin.com/in/mohamed-badraldin/"><i class="fa-brands fa-linkedin"></i></a>
            <a class="h3 my-3 d-inline-block" target="_blank" href="https://github.com/mohamed-badraldin"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</div>

<%- include('components/footer.section.ejs') %>
<%- include('components/footer.ejs') %>
