@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
.product-card {
    border: none;
    box-shadow:1px 1px 44px #bfbbbb78;
    box-shadow:-1px 1px 44px #bfbbbb78;
}

.product {
    background-color: #eee
}

.brand {
    font-size: 13px
}

.act-price {
    color: #4270C8;
    font-weight: 700
}

.dis-price {
    text-decoration: line-through
}

.about {
    font-size: 14px
}

.color {
    margin-bottom: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}




.btn-danger:focus {
    box-shadow: none
}

.cart i {
    margin-right: 10px
}

.nav-link:hover{
    color:rgb(58, 58, 255) !important
}